<body class="d-flex flex-column min-vh-100">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center flex-grow-1">
        <img src="~/images/NotFound.png" width="100%" />
        <div class="error-message" style="font-size: 40px;">Oops! The page you're looking for doesn't exist.</div>
        <a href="/" class="btn btn-primary home-button">Go to Homepage</a>
    </div>
</body>