<div class="container">
    <title>Access Denied</title>
    <div class="content" style="display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100vh;
            margin: 0;
            text-align: center;
            flex-direction: column;">
        <div style="position: relative; width: fit-content;">
            <h1 style="position: absolute; top: 150px; left: 22%; margin: 0; font-size: 70px">403 - Access Denied</h1>
            <p style="position: absolute; top: 270px; left: 50%; transform: translateX(-50%); color: #fff; margin: 0; font-size: 20px">You do not have permission to view this page.</p>
            <img src="https://freefrontend.com/assets/img/403-forbidden-html-templates/403-Forbidden-Airport-Security.gif" alt="Access Denied">
        </div>
    </div>
</div>
